.container {
  border-collapse: collapse;
  border: 1px solid #dedede;
  border-radius: 6px;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.6);
  overflow: hidden;
}

.headTr {
  display: flex;
  background-color: aqua;
}

.bodyTr {
  display: flex;
  background-color: white;
}

.bodyTr:nth-child(2n) {
  background-color: #c1c0c0;
}

.th,
.td {
  min-width: 100px;
  padding: 10px 50px;
  border-left: 1px solid #f2efef;
  border-right: 1px solid #f2efef;
  text-align: center;
}

.td:nth-child(1) {
  text-align: left;
}
